In [1]:
import pandas as pd

In [2]:
csv_data = pd.read_csv(
    './assets/StateData.csv',
    error_bad_lines=False)
df = pd.DataFrame(csv_data)

In [3]:
df.iloc[0]['SurveyYr']

16

In [4]:
columns = ['Name', 'FIPS_Code_State']
df_state = pd.DataFrame(columns=columns)

In [5]:
for i in range(51):
    current = df.iloc[i]
    df_state.at[i, 'Name'] = current['Name']
    df_state.at[i, 'FIPS_Code_State'] = current['FIPS_Code_State']

In [6]:
state_population_columns = ['State_id', 'Population', 'Year']
df_state_population = pd.DataFrame(columns=state_population_columns)

In [9]:
for year in range(2016, 2006, -1):
    for state in df_state['Name'].unique():
        df_current = df[(df['Year4']==year) & (df['Name']==state)]
        df_to_append = pd.DataFrame(columns=state_population_columns)
        df_to_append['Year'] = df_current['Year4'].fillna(0)
        df_to_append['State_id'] = df_state[(df['Name']==state)].index.item()
        df_to_append['Population'] = df_current['Population'].fillna(0)
        df_state_population = df_state_population.append(df_to_append, ignore_index=True)

/Users/benjaminhurst/.local/share/virtualenvs/opioid_study-oZUPmX6j/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [8]:
df_to_append

NameError: name 'df_to_append' is not defined

In [10]:
df_state_population

    State_id Population  Year
0          0    4858979  2016
1          1     738432  2016
2          2    6828065  2016
3          3    2978204  2016
4          4   39144818  2016
5          5    5456574  2016
6          6    3590886  2016
7          7     945934  2016
8          8     672228  2016
9          9   20271272  2016
10        10   10214860  2016
11        11    1431603  2016
12        12    1654930  2016
13        13   12859995  2016
14        14    6619680  2016
15        15    3123899  2016
16        16    2911641  2016
17        17    4425092  2016
18        18    4670724  2016
19        19    1329328  2016
20        20    6006401  2016
21        21    6794422  2016
22        22    9922576  2016
23        23    5489594  2016
24        24    2992333  2016
25        25    6083672  2016
26        26    1032949  2016
27        27    1896190  2016
28        28    2890845  2016
29        29    1330608  2016
..       ...        ...   ...
480       21    6398743  2007
481       22   10120860  2007
482       23    5132799  2007
483       24    2921088  2007
484       25    5800310  2007
485       26     935670  2007
486       27    1758787  2007
487       28    2414807  2007
488       29    1309940  2007
489       30    8717925  2007
490       31    1928384  2007
491       32   19254630  2007
492       33    8683242  2007
493       34     636677  2007
494       35   11464042  2007
495       36    3547884  2007
496       37    3641056  2007
497       38   12429616  2007
498       39    1076189  2007
499       40    4255083  2007
500       41     775933  2007
501       42    5962959  2007
502       43   22859968  2007
503       44    2469585  2007
504       45     623050  2007
505       46    7567465  2007
506       47    6287759  2007
507       48    1816856  2007
508       49    5536201  2007
509       50     509294  2007

[510 rows x 3 columns]

In [ ]:
df.columns.values.tolist()